#main{
    display: grid;
    grid-template-columns: repeat(3,70vh);
    gap: 10px;
}
.card{
    border: 2px solid;
    border-radius: 3px;
    text-align: center;
    font-size: 20px;
    height: auto;
    width: 450px;
    margin-bottom: 30px;
    
}
#box{
    width: 300px;
    height: 30px;
}
#btn{
    
    width: 56px;
    height: 40px;
}